/* @layer theme { */
:root,
:host {
  --font-sans:
    ui-sans-serif,
    system-ui,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-mono:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    "Liberation Mono",
    "Courier New",
    monospace;
  --color-yellow-500: oklch(79.5% 0.184 86.047);
  --color-blue-600: oklch(54.6% 0.245 262.881);
  --color-gray-200: oklch(92.8% 0.006 264.531);
  --color-gray-300: oklch(87.2% 0.01 258.338);
  --color-gray-400: oklch(70.7% 0.022 261.325);
  --color-gray-600: oklch(44.6% 0.03 256.802);
  --color-gray-700: oklch(37.3% 0.034 259.733);
  --color-white: #fff;
  --spacing: 0.25rem;
  --text-lg: 1.125rem;
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75 / 1.25);
  --font-weight-bold: 700;
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --default-transition-duration: 150ms;
  --default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --default-font-family: var(--font-sans);
  --default-mono-font-family: var(--font-mono);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-dark: var(--dark);
}
/* } */
.m-0 {
  margin: calc(var(--spacing) * 0);
}
.w-12 {
  width: calc(var(--spacing) * 12);
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.top-0 {
  top: calc(var(--spacing) * 0);
}
.left-0 {
  left: calc(var(--spacing) * 0);
}
.m-0 {
  margin: calc(var(--spacing) * 0);
}
.m-\[2px\] {
  margin: 2px;
}
.mt-4 {
  margin-top: calc(var(--spacing) * 4);
}
.block {
  display: block;
}
.flex {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.h-5 {
  height: calc(var(--spacing) * 5);
}
.h-6 {
  height: calc(var(--spacing) * 6);
}
.h-\[24px\] {
  height: 24px;
}
.h-px {
  height: 1px;
}
.w-5 {
  width: calc(var(--spacing) * 5);
}
.w-12 {
  width: calc(var(--spacing) * 12);
}
.w-full {
  width: 100%;
}
.w-px {
  width: 1px;
}
.cursor-pointer {
  cursor: pointer;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.overflow-hidden {
  overflow: hidden;
}
.rounded-full {
  border-radius: calc(infinity * 1px);
}
.border-0 {
  border-style: var(--tw-border-style);
  border-width: 0px;
}
.bg-primary {
  background-color: var(--color-primary);
}
.bg-secondary {
  background-color: var(--color-secondary);
}
.bg-white {
  background-color: var(--color-white);
}
.p-0 {
  padding: calc(var(--spacing) * 0);
}
.align-middle {
  vertical-align: middle;
}
.text-lg {
  font-size: var(--text-lg);
  line-height: var(--tw-leading, var(--text-lg--line-height));
}
.text-xl {
  font-size: var(--text-xl);
  line-height: var(--tw-leading, var(--text-xl--line-height));
}
.font-bold {
  --tw-font-weight: var(--font-weight-bold);
  font-weight: var(--font-weight-bold);
}
.text-dark {
  color: var(--color-dark);
}
.text-gray-400 {
  color: var(--color-gray-400);
}
.opacity-0 {
  opacity: 0%;
}
.transition-all {
  transition-property: all;
  transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
  transition-duration: var(--tw-duration, var(--default-transition-duration));
}
.transition-colors {
  transition-property:
    color,
    background-color,
    border-color,
    outline-color,
    text-decoration-color,
    fill,
    stroke,
    --tw-gradient-from,
    --tw-gradient-via,
    --tw-gradient-to;
  transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
  transition-duration: var(--tw-duration, var(--default-transition-duration));
}
.duration-200 {
  --tw-duration: 200ms;
  transition-duration: 200ms;
}
.ease-in-out {
  --tw-ease: var(--ease-in-out);
  transition-timing-function: var(--ease-in-out);
}
.disabled\:pointer-events-none:disabled {
  pointer-events: none;
}
.disabled\:opacity-60:disabled {
  opacity: 60%;
}